.card {
  width: 270px;
  height: 310px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.container {
  position: relative;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 70%;
  object-fit: cover;
  transition: height 0.3s ease-in-out;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}

.statusLogo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  transition: height 0.3s ease-in-out;
}

.nameLocation {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  padding: 0.75rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: height 0.3s ease-in-out;
}

.name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold; 
  margin-bottom: 0.625rem;
}

.location {
  margin: 0;
  font-size: 0.9rem;
}

.info {
  position: absolute;
  bottom: -3.75rem;
  width: 90%;
  height: auto;
  padding: 0.75rem;
  box-sizing: border-box;
  transition: bottom 0.3s ease-in-out;
  margin-left: 5%;
}

.info p {
  margin: 0;
  font-size: 0.9rem;
  overflow: visible;
}

.email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
  word-wrap: break-word;
}

.card:hover .imageContainer {
  height: 50%;
  transition-duration: 0.3s;
}

.card:hover .nameLocation {
  justify-content: flex-start;
  height: 50%;
  padding-bottom: 3rem;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.card:hover .info {
  bottom: 5%;
  transition-duration: 0.3s;
  margin-top: auto;
}

.card:hover .phone {
  padding: 1%;
}

.card:hover .email {
  padding: 1%;
  white-space: normal;
  overflow: visible;
}
