.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2392d2;
    padding: 10px 20px;
    margin: 0;
  }
  
  .headerLeft h1 {
    font-size: 28px;
    color: white;
    margin: 0;
  }
  
  .headerRight {
    display: flex;
    align-items: center;
  }
  